<div class="l-toolbar">
  <div class="l-user-info">
    <span class="material-icons">
      person
    </span>
    <div class="l-user-info__name">
      {{ userInfo?.userName }}
    </div>
  </div>
  <div class="l-filter">
    <span>Select company:</span>
    <mat-form-field appearance="outline">
      <mat-select [formControl]="companyControl">
        <mat-option *ngFor="let role of userInfo?.roles" [value]="role.companyId"> {{ role.companyId }} {{ role.companyName }} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="h-separator">
    <span class="material-icons">
      more_vert
    </span>
  </div>
  <div class="c-actions">
    <button (click)="logout()">Logout</button>
  </div>
</div>
