<div class="l-footer">
  <div class="info" [ngClass]="'status-' + connected">
    <span class="c-connection material-icons" *ngIf="connected">
      wifi
    </span>
    <span class="material-icons" *ngIf="!connected">
      wifi_off
    </span>
  </div>
  <div class="h-separator">
    <span class="material-icons">
      more_vert
    </span>
  </div>
  <div class="info info__right ">
    <div class="h-version">v{{ version }}</div>
    <div class="h-separator">
      <span class="material-icons">
        more_vert
      </span>
    </div>
    <div class="c-theme c-action-btn">
      <span class="material-icons">
        wb_sunny
      </span>
    </div>
  </div>
</div>
