.l-table {
  display: grid;
  grid-template-columns: 180px 1fr;
  padding: 20px;
  box-sizing: border-box;
  column-gap: 5px;
  row-gap: 5px;
  > div {
    height: 35px;
    position: relative;
    span {
      position: absolute;
      left: 10px;
      top: 5px;
    }
  }
}
.l-preview {
  height: 200px;
  position: relative;
  img {
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
