/* ANIMATIONS */

@keyframes connected {
  0% {
    color: darken($success, 5%);
  }
  50% {
    color: lighten($success, 20%);
  }
  100% {
    color: darken($success, 5%);
  }
}

@keyframes disconnected {
  0% {
    color: darken($error, 5%);
  }
  50% {
    color: lighten($error, 20%);
  }
  100% {
    color: darken($error, 5%);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
