@import 'settings';
@import 'themes';
@import 'responsive';
@import 'animations';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

body[data-theme='DARK'] {
  @include theme($dark-color, $dark, $power, $success, $error);
}
body[data-theme='LIGHT'] {
  @include theme($light-color, $light, $power, lighten($success, 10%), $error);
}

/* ANGULAR AMTERIAL SELECT BOX OVERRIDE */
%clean-spaces {
  height: 40px;
  padding: 0px;
  margin: 0px;
}
mat-form-field {
  &.mat-form-field-type-mat-select {
    .mat-form-field-wrapper {
      @extend %clean-spaces;
    }
    .mat-form-field-flex {
      @extend %clean-spaces;
      padding-left: 10px;
    }
    .mat-form-field-infix {
      @extend %clean-spaces;
      border-top: 0.75em solid transparent;
      .mat-select-arrow-wrapper {
        padding-top: 10px;
        padding-right: 5px;
      }
    }
  }
}
