@import 'settings';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

body[data-theme='dark'] {
  background: $dark;
  color: $dark-color;
  font-size: 17px;
  .l-footer {
    background: darken($dark, 5%);
  }
  .l-toolbar {
    background: darken($dark, 5%);
    .l-user-info {
      color: $dark-color;
    }
  }
  .l-footer,
  .l-toolbar {
    .h-separator {
      color: transparentize($dark-color, 0.8);
    }
  }
  /* scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: $power;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $power;
  }
  /* mat select */
  .mat-select-panel {
    background: darken($dark, 5%);
    .mat-option-text {
      color: $dark-color;
    }
  }
  mat-form-field {
    .mat-select-arrow,
    .mat-select-value-text,
    .mat-select-value,
    .mat-form-field-outline-thick,
    .mat-form-field-appearance-outline {
      color: $dark-color;
    }
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparentize($dark-color, 0.7);
  }
  /* actions  */
  .c-actions {
    button {
      cursor: pointer;
      background: transparentize($power, 0.4);
      color: $dark-color;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
      &:hover {
        background: transparentize($power, 0.1);
      }
    }
  }
  .c-connection {
    color: $success;
    animation: connected 2s infinite;
  }
  /* footer */
  .l-footer {
    .h-version {
      color: transparentize($dark-color, 0.5);
    }
  }
  /* main content */
  .l-content {
    &__main {
      > div {
        background-color: darken($dark, 5%);
      }
    }
  }
  /* table */
  .l-table {
    &__head {
      background: darken($success, 10%);
    }
    &__row {
      cursor: pointer;
      &:nth-child(even) {
        background-image: linear-gradient(to right, transparent, transparentize($dark, 0.4), transparent);
      }
      &:hover {
        background-image: linear-gradient(to right, transparentize($dark, 0.5), transparentize($dark, 0.1), transparentize($dark, 0.5));
      }
    }
  }
}

/* ANGULAR AMTERIAL SELECT BOX OVERRIDE */
%clean-spaces {
  height: 40px;
  padding: 0px;
  margin: 0px;
}
mat-form-field {
  &.mat-form-field-type-mat-select {
    .mat-form-field-wrapper {
      @extend %clean-spaces;
    }
    .mat-form-field-flex {
      @extend %clean-spaces;
      padding-left: 10px;
    }
    .mat-form-field-infix {
      @extend %clean-spaces;
      border-top: 0.75em solid transparent;
      .mat-select-arrow-wrapper {
        padding-top: 10px;
        padding-right: 5px;
      }
    }
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: $sm) {
  .l-toolbar {
    .l-user-info {
      display: none;
    }
    .l-filter {
      > span {
        display: none;
      }
    }
  }
}

/* ANIMATIONS */

@keyframes connected {
  0% {
    color: darken($success, 5%);
  }
  50% {
    color: lighten($success, 20%);
  }
  100% {
    color: darken($success, 5%);
  }
}
