@import '../../../../../settings';

.l-content {
  height: 100%;
  display: grid;
  grid-template-rows: 45px auto 45px;
  &__main {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    overflow-y: auto;
  }
}

@media only screen and (max-width: $md) {
  .l-content__main {
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    grid-template-columns: 1fr;
  }
}
